## 1.Basic feature extraction using text data

In [14]:
import pandas as pd
import numpy as np
import os
os.chdir("F:\Dataset")

In [16]:
data=pd.read_csv("text train.csv")

In [18]:
data.head()
data.dtypes

id        int64
label     int64
tweet    object
dtype: object

#### 1.1 Number of Words

In [20]:
 data["wordcount"]=data.tweet.apply(lambda x: len(str(x).split(" ")))
data.head()

   id  label                                              tweet  wordcount
0   1      0   @user when a father is dysfunctional and is s...         21
1   2      0  @user @user thanks for #lyft credit i can't us...         22
2   3      0                                bihday your majesty          5
3   4      0  #model   i love u take with u all the time in ...         17
4   5      0             factsguide: society now    #motivation          8

#### 1.2 Number of characters

In [6]:
data["charcount"]=data.tweet.apply(lambda x: len(str(x)))## this also includes spaces
data.head()

,id,label,tweet,wordcount,charcount
0,1,0,@user when a father is dysfunctional and is s...,21,102
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122
2,3,0,bihday your majesty,5,21
3,4,0,#model i love u take with u all the time in ...,17,86
4,5,0,factsguide: society now #motivation,8,39

#### 1.3 Average Word Length

In [21]:
# import nltk 
# import nltk
# from nltk.tokenize import WordPunctTokenizer
# x="@user when a FAther is dysfunctional and is s"
# WordPunctTokenizer().tokenize(x)

In [22]:
from nltk.tokenize import word_tokenize
def avgword(x):
    tokens=word_tokenize(x)
    length=[]
    for i in tokens:
        length.append(len(i))
    return (np.mean(length))

In [23]:
data["avgwordlength"]=data.tweet.apply(lambda x: avgword(x))
data.head()

,id,label,tweet,wordcount,avgwordlength
0,1,0,@user when a father is dysfunctional and is s...,21,3.904762
1,2,0,@user @user thanks for #lyft credit i can't us...,22,3.740741
2,3,0,bihday your majesty,5,5.666667
3,4,0,#model i love u take with u all the time in ...,17,3.833333
4,5,0,factsguide: society now #motivation,8,5.333333

#### 1.4 Number of stopwords

In [24]:
from nltk.corpus import stopwords

In [25]:
nltk.download("stopwords")

NameError: name 'nltk' is not defined

In [ ]:
stop=stopwords.words("english")
data["stopwrds"]=data.tweet.apply(lambda x: len([x for x in x.split() if x in stop]))
data.head()

#### 1.5 Number of special characters

In [ ]:
specialcharacters=["#","@"]
data["special_characters"]=data.tweet.apply(lambda x: len([x for x in word_tokenize(x) if x in specialcharacters]))
data.head()

In [ ]:
data.tweet.head()

In [ ]:
x="payal 1, 2is"
print(x.split())
print(str(x))
word_tokenize(x)

#### 1.6 Number of numerics

In [26]:
data["no.of numerics"]=data.tweet.apply(lambda x: len([x for x in word_tokenize(x) if x .isdigit()]))

In [27]:
data.head()

,id,label,tweet,wordcount,avgwordlength,no.of numerics
0,1,0,@user when a father is dysfunctional and is s...,21,3.904762,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,3.740741,0
2,3,0,bihday your majesty,5,5.666667,0
3,4,0,#model i love u take with u all the time in ...,17,3.833333,0
4,5,0,factsguide: society now #motivation,8,5.333333,0

In [28]:
import string as str

#### 1.7 Number of Uppercase words

In [29]:
data["upperCase"]=data.tweet.apply(lambda x : len([x for x in x.split() if x.isupper()]))
data.head()

,id,label,tweet,wordcount,avgwordlength,no.of numerics,upperCase
0,1,0,@user when a father is dysfunctional and is s...,21,3.904762,0,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,3.740741,0,0
2,3,0,bihday your majesty,5,5.666667,0,0
3,4,0,#model i love u take with u all the time in ...,17,3.833333,0,0
4,5,0,factsguide: society now #motivation,8,5.333333,0,0

## 2. Basic Pre-processing

#### 2.1 Lower case

In [30]:
data["tweet"]=data.tweet.apply(lambda x: " ".join(x.lower() for x in x.split()))
data.head()
print(" ".join(("@user when a FAther is dysfunctional and is s").lower()))
"".join("@user when a FAther is dysfunctional and is s")

@ u s e r   w h e n   a   f a t h e r   i s   d y s f u n c t i o n a l   a n d   i s   s

'@user when a FAther is dysfunctional and is s'

In [31]:
data.head()

,id,label,tweet,wordcount,avgwordlength,no.of numerics,upperCase
0,1,0,@user when a father is dysfunctional and is so...,21,3.904762,0,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,3.740741,0,0
2,3,0,bihday your majesty,5,5.666667,0,0
3,4,0,#model i love u take with u all the time in ur...,17,3.833333,0,0
4,5,0,factsguide: society now #motivation,8,5.333333,0,0

#### 2.2 Removing Punctuation

In [32]:
import nltk
from nltk.tokenize import WordPunctTokenizer
x="@user when a FAther is dysfunctional and is s"
WordPunctTokenizer().tokenize(x)

['@', 'user', 'when', 'a', 'FAther', 'is', 'dysfunctional', 'and', 'is', 's']

In [33]:
from nltk.tokenize import RegexpTokenizer, TweetTokenizer
tt=TweetTokenizer()
tt.tokenize(x)

['@user', 'when', 'a', 'FAther', 'is', 'dysfunctional', 'and', 'is', 's']

In [34]:

A RegexpTokenizer splits a string into substrings using a regular expression. 

For example, the following tokenizer forms tokens out of alphabetic sequences, 

money expressions, and any other non-whitespace sequences:

SyntaxError: invalid syntax (<ipython-input-34-bb708846fe8a>, line 2)

In [ ]:
import re

##### Regular Expressions 

'^'
    (Caret.) Matches the start of the string, and in MULTILINE mode also matches immediately after each newline.
/w3schools/  is a regular expression.

w3schools  is a pattern (to be used in a search).

/\w\S*

The / Is the beginning of a regex (regular expression).

The \w looks for all word characters in a string

"A word character is a character from a-z, A-Z, 0-9, including the _ (underscore) character."

Now the \S is any character that is NOT a whitespace character. 

\s(lowercase) which is for whitespace characters

The * is a character that says to look for n zero or more times

In [ ]:
# x="@user when a FAther is dysfunctional and is s"
# y=[x for i in WordPunctTokenizer().tokenize(x) if i in [\w\s]]
data["tweet"]=data.tweet.str.replace("[^\w\s]", " ")

# data["tweet"]=data.tweet.apply(lambda x: WordPunctTokenizer(x))

In [35]:
data.head()

,id,label,tweet,wordcount,avgwordlength,no.of numerics,upperCase
0,1,0,@user when a father is dysfunctional and is so...,21,3.904762,0,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,3.740741,0,0
2,3,0,bihday your majesty,5,5.666667,0,0
3,4,0,#model i love u take with u all the time in ur...,17,3.833333,0,0
4,5,0,factsguide: society now #motivation,8,5.333333,0,0

#### 2.3 Removal of Stop Words

#### 2.4 Common word removal

##### check the 10 most frequently occurring words in our text data then take call to remove or retain.

In [36]:
lists=[1,2,5,66]
top10words=pd.Series(" ".join(data.tweet).split()).value_counts()[:10]
top10words.index

Index(['@user', 'the', 'to', 'a', 'i', 'you', 'and', 'in', 'for', 'of'], dtype='object')

##### Now, letâ€™s remove these words as their presence will not of any use in classification of our text data.

In [37]:
data["tweet"]=data.tweet.apply(lambda x: " ".join(x for i in x.split() if i not in top10words.index))

In [46]:
from nltk.stem import LancasterStemmer
ls=LancasterStemmer()
data["tweet"]=data.tweet.apply(lambda x: " " .join(ls.stem(x) for x in x.split()))

KeyboardInterrupt: